/* LinkedIn and GitHub buttons */
.link-icon-text {
  display: inline-flex;
  align-items: center;
  gap: 8px; /* Adjust the space between icon and text */
  color: inherit; /* Use the default text color or choose your own */
  text-decoration: none; /* Remove underline from links */
  font-size: 1.25rem; /* Adjust based on your preference */
}

.link-icon-text:hover {
  text-decoration: underline; /* Optional: underline on hover */
  color: #0d6efd; /* Optional: change color on hover */
}

.bi {
  font-size: 1.5rem; /* Adjust the size of the icon */
}

.container{
  display: flex;
  gap: 10px;
}

.custom-nav-color .nav-link{
  color: white !important;
}

#about h1.display-5 {
  color: white !important;
}
